AI_API_KEY=YOUR_GEMINI_API_KEY_HERE
SUPABASE_URL=https://ozhgvfpaxpfuxotznzoj.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im96aGd2ZnBheHBmdXhvdHpuem9qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2NTYyNTcsImV4cCI6MjA5NjIzMjI1N30.dZBnZX1kMp3LYV5GuN2KjZuB8r5GZO19o9tzhTNlVK0
